# Server Environment Variables
PORT=5000
JWT_SECRET=your_production_secure_jwt_secret
GEMINI_API_KEY=your_google_gemini_api_key_here
NODE_ENV=production

# Client Environment Variable (Render Production: https://xpense-nk8g.onrender.com)
VITE_API_URL=https://xpense-nk8g.onrender.com
